{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">

      

       

        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}

      </div>



     <!-- <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>-->
      <img class="profile" src="/assets/images/profile.png" alt="">
      <div class="name">
          <p>Uzoma Beneth Uzosike</p>
      </div>
      <div class="social">
        <ul>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin fa-2x linkedin-color"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-facebook fa-2x facebook-color"></i></a></li>
        </ul>
      </div>
      

    </div>

  </div>

  <div id="switcher"></div>
</aside>
